.next
.git
.gitignore
npm-debug.log*
Dockerfile
.dockerignore
README*.md
.env
.env.*
!.env.example
uploads
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map
scripts
.vscode
.idea
